* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.about,
.books {
  font-size: 2rem;
}

.about-text,
.books-text  {
  color: black;
  padding: 20px;
  margin: 100px 60px 0 60px;
}

.about-text h1,
.books-text h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
}